* {
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-color: blue;
    
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: bisque;
}

#test{

    padding-left: 4px;
    border: 4px solid brown;
    
}