body{
    background-color: bisque;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fonts d */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; */
}

.logo h2{
    font-size: 45px;
    font-weight: 900;
    color: whitesmoke;
    background-color: rgb(202,143,122);
}


.color-orange{
    color: whitesmoke;
}
/* buttons are here */
.btn{
    background-color: rgb(202,143,122);
    border: 3px solid orangered;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-grp{

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
 
} 

.btn:hover{
    background-color: orangered;
    color: white;
    transform: scale(1.05);
}

/* top banner */
header{
    
    background-color: bisque;
    background: url("../images/pictwo.png"),url("../images/picOne.png"),bisque;
    background-position: bottom right,top left;
    background-repeat: no-repeat;
    background-size: 800px 800px;
    
    padding-top: 50px;
}
